[submodule "contracts/lib/eigenlayer-middleware"]
	path = contracts/lib/eigenlayer-middleware
	url = git@github.com:Layr-Labs/eigenlayer-middleware.git
[submodule "services/operatorsinfo/integration_test_deployment/lib/forge-std"]
	path = services/operatorsinfo/integration_test_deployment/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
