[submodule "contracts/lib/eigenlayer-middleware"]
	path = contracts/lib/eigenlayer-middleware
	url = git@github.com:Layr-Labs/eigenlayer-middleware.git
[submodule "contracts/lib/forge-std"]
    path = contracts/lib/forge-std
    url = git@github.com/foundry-rs/forge-std
